*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:"IBM Plex Sans Arabic", sans-serif !important;
}

/*header section*/
.first .first-block{
    background-color: #d3f5d5;
    text-align: right;
    border-radius: 2rem;
}
.first .second-block{
    background-color: #bed9ff;
    text-align: right;
    border-radius: 2rem;


}
.first .third-block{
    background-color: #e3d8ff;
    text-align: right;
    border-radius: 2rem;

}
/*End header section*/

/*main section*/
.about-us{
    

}
.provid-content .card{
    border-radius: 1rem;
}
.bg-gray{
    background-color: #f3f8ff;
}
.global-competition{
    background-color: #f5f5f7;
}
/*End main section*/

/*footer section*/
footer{
    background-color: #e3d8ff;
}
footer a {
    color: #4e3797;
    background-color: #e3d8ff;
}
.soical-footer p {
    color: #4e3797;
}
.soical-footer img {
background-color: #4e3797;
padding: 1rem;

}


/*End footer section*/