
*{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
}

.back{
    background-color: aquamarine;
   
}
.container .position-relative{
  
 background-color: rgba(0,0, 0, 0.4);
}
.position-relative video{
   
    align-items: center;
}
.btn-info{
background-color: #4e3797;
}
.partner-bg{
    background-color: #f1f4f7;
}
.partner-bg h2{
    color: #4e3797;
}

.nav-barlight a{
    color: #f1f4f7;
}
.nav-academy a{
color: #4e3797;
}
.nav-barlight img{
    filter: brightness(0) invert(1)
}

.header-content{
   
    text-align: center;
    

}
.header-content h1{
    font-size: 50px;
    color: #ffff;
    margin-bottom: 50px;

}
.header-content button{
    border: #54b9bc;
    background-color: #54b9bc;
    border-radius: 3rem;
    font-size: 30px;
    

}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.radius-10 {
    border-radius: 10px !important;
}

.border-color{
    border-right: 10px solid red !important;
}
.background-light-blue{
    background-color:    #f1f4f7    ;

}
.button-color button{
    background-color: #4e3797;
    border-color: #4e3797;
    border-radius: 1rem;
    

}
.background-light-blue h3{
    color: #4e3797;
    font-weight: bold;
}
.circle-icon{
background-color: #54b9bc  ;
border-radius: 2em;
padding: 1rem;
color: #f1f4f7;
}

.background-purble{
    background-color: #4e3797;
}

.card-body h4{
    color: #54b9bc;
}
.title-num-academy{
    color: #4e3797;
    font-weight: bold;
    font-size: 30px;
}

.partner-content .card{
    display: flex;
    justify-content: center;

}

.img-size{

width: 10%;

}


.email-content{
    background-color: #5BBEC1;

}
.email-content .btn-primary{
background-color: #4e3797;
color: #f1f4f7;
border-radius: 1em;

}
.footer-content{
    background-color: #4e3797;
    color: #f1f4f7;
    align-items: center;
}
.footer-content img {
    filter: brightness(0) invert(1);
}
.list-footer a{
    color: #f1f4f7;
}
.bg-purble{
    background-color: #4e3797;
  
    color: #f1f4f7;
}
.card-deck .border-0{
    border-right: 10px solid #bbe4bf !important;
}
.card-deck .border-0 h5{
    color: #bbe4bf;
}
.card-deck .border-1{
    border-right: 10px solid #8dd7da !important;
}
.card-deck .border-1 h5{
color: #8dd7da;
}
.card-deck .border-2{
    border-right: 10px solid #8ad5d8 !important;
}
.card-deck .border-2 h5{
color: #8ad5d8;
}
.img-color img{
    filter: invert(21%) sepia(34%) saturate(3200%) hue-rotate(235deg) brightness(96%) contrast(92%);}
.text-color{
    color: #54b9bc;
    
}
.text-color p{
    color: black;
}

.text-color button{
    background-color: #4e3797;
    border-radius: 1rem;
    border-color: #4e3797;
}
.bg-white h1{ text-align: center;
    color: #4e3797;

}

.bg-white button {
    background-color: #4e3797;
    border-radius: 1rem;
    border-color:#4e3797;
 
}