.back{
    background-color: aquamarine;
}
.container{
    height: 100%;;
    width: 100%;
    background-color: aqua;
 
}

.header-content{
   
    text-align: center;

}
.radius-10 {
    border-radius: 10px !important;
}

.border-color{
    border-right: 10px solid red !important;
}